--- 
title: About me
menu: about
---
%section{:id => 'content', :class => 'panel'}
	%h2(class='page-title') About here
	%p
		I'm Sébastien Braun, a systems engineer, I currently work for <href='http://vmware.com'>VMware</a> in France where I focus on virtual networking and more generally on Software Defined Datacenter. My company is currently transforming the industry one more time, by building smart Layer 2 networks that can span racks or datacenters easily in the virtual world. Let's manage it all from a self service portal where consumer can build up infrastructures in minutes instead of days.
	%p
		Yet Emerging Technologies is a place where I collect things, mostly around Open Source and Innovation, just to remind us were we were. Not only things but howtos, there is so much tools out there, let's find a good excuse to play with all of them. 

	%p
		By the way, YET started as a Movable Type blog, moved in 2011 to
		%em <a href="http://wiki.yet.org">MediaWiki</a>
		to land here in a different form. It is now built using
		%em <a href='http://nanoc.stoneship.org'>nanoc</a>,
		a great little tool for building a static website out of documents written in Markdown and the like. The source is
		%em <a href='https://github.com/planetrobbie/www.yet.org'> on GitHub</a>.
		If you want to try it, I have an article on 
		%em <a href='/2012/11/nanoc/'>nanoc</a>.