--- 
title: Contact me
menu: contact
---
%section{:id => 'content', :class => 'panel'}
	%h2 Archives
	%p
		As soon as the content grows on
		%em
			Yet,
		I'll populate this section. For now there isn't any need for archiving.