--- 
title: Contact me
menu: contact
---
%section{:id => 'content', :class => 'panel'}
	%h2(class="page-title") Contact me
	%p
		The best way to contact me is via <a href='http://uk.linkedin.com/in/planetrobbie'>LinkedIn</a>.